.title {
    text-align: center;
    color: white;
    background-color: #000000;
    font-family: monospace;
    width: 20%; /* Puedes ajustar este valor según lo angosto que desees el div */
    margin: 0 auto; /* Esto centra el div horizontalmente en la página */
    border-radius: 0%;
}